// Specific CSS for your home-page
body {
  width: 100vw;

  background-color: rgba(255, 112, 67, 0.7);
  background-image: linear-gradient(73.93deg, rgba(255, 196, 139, 0.82) 0%, rgba(255, 216, 139, 0.47) 24.01%, rgba(255, 153, 121, 0.1) 48.48%, rgba(219, 151, 113, 0.32) 70.45%, rgba(255, 196, 139, 0.54) 89.21%);
}


.image {
  display: flex;
  justify-content: center;
  .image-bbe {

   // position: absolute;
    width: 161px;
    height: 271px;
    left: 698px;
    top: 115px;
  }
}

.title {
  display: flex;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
  //margin-top: 40px;

  h1 {
    font-family: "Anton";

    text-align: center;

    //margin-top: 19%;
    font-size: 110px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 110px;
  }
}


.find-text {


  font-family: Helvetica Neue;
  font-style: thin;
  font-weight: lighter;
  font-size: 30px;
  line-height: 57px;
  text-align: center;

  p {
    margin-bottom: 0.2rem !important;
    margin-block-end: 0 !important;
  }
}

.search-form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;

  margin-top: 1%;
  margin-bottom: 10%;

}
.search {
   display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.search-form-control .btn {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 1%;

  color:black;
  opacity: 0.5;

  border: none;
  text-decoration: none;

  background: rgba(0, 0, 0, 0.25);
}


.btn:hover {
  text-decoration: none;

  color: #000000;
  background-color: none;
}

.search-form-control .form-control {
  height: 3.5rem;
  width: 30vw;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #000000;
  background-color: transparent;
  color: none;
}

.search-form-control .form-control:focus {
  border: 1px solid #dd4b1e;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.5;
}







// some code to align the body container w the navbar and the footer

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
