  <div data-refresh-list-target='id' data-id=<%= bakery.id %>>
  <% if Favourite.where(user: current_user).where(bakery: bakery).empty?%>
      <%= button_tag '',class:"far fa-star fa-lg favourite-icon",
                      data: {
                        refresh_list_target: 'button',
                        action: "click->refresh-list#update"
                      } %>
  <%else %>

  <%= button_tag '',class:"fa fa-star fa-lg favourite-icon",
                      data: {
                        refresh_list_target: 'button',
                        action: "click->refresh-list#update"
                      } %>
  <%end %>
  </div>
