  <div data-refresh-list-target='id' data-id="<%= bakery.id %>" >
    <% favourite = Favourite.find_by(user: current_user, bakery: bakery) %>
    <% if favourite.nil? %>
      <%= link_to "", bakery_favourites_path(bakery), method: :create, class:"far fa-star fa-lg favourite-icon" %>

    <%else %>
      <%= link_to "", favourite_path(favourite), method: :delete, class:"fa fa-star fa-lg favourite-icon" %>
    <%end %>
  </div>
