<div class ='fit'>
  <% if bakery.pictures.attached? %>
  <%= cl_image_tag bakery.pictures.key, height: 100, width: 150, crop: :fill %>
  <%else %>
  <img id="imgProd1" src="https://picsum.photos/id/237/200/150">
  <% end %>
  <p class='popup'><%= bakery.name %></p>
  <% if (Time.now.hour > bakery.opening_hour.hour && Time.now.hour < bakery.closing_hour.hour)%>
    <p class='schedule' style="color:green">Open</p>
  <%else %>
    <p class='schedule' style="color:red">Closed </p>
  <%end %>
</div>
