<div class='show-tag' data-change-tag-target='tagdiv'>
  <button class='btn' data-change-tag-target='tag' data-bakery=<%= @bakery.id %> data-id=<%= tag.id %> data-action='click->change-tag#addVote'  ><%= tag.category %> &nbsp;+<%=tag.votes  %></button>
</div>
