<% content_for :meta_image, asset_path('baguette_og.png')
 %>

<div class="banner-container">
  <div class="image">
    <%= image_tag "logo-bbe-HD.svg", class:"image-bbe" %>
  </div>

  <div class="title row">
      <h1>BIG BAGUETTE ENERGY</h1>
  </div>

  <div class="search row ">

     <div class='search-bar-home'>
      <p class="find-text">Find the best bakeries near you</p>
      <%= form_tag bakeries_path, method: :get do %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control string required",
            id: "search-form-control",
            placeholder: "..."
          %>

          <button name="button" type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>

        </div>
      <% end %>
    </div>
  <!-- row div-->
  </div>

  <!-- text-container div-->
</div>

<!-- body div-->
