.show-container{

  margin: 1rem;
}
.page-container {
  min-height: 50vh;
}
.bakery-description{
  width: 93%;
  background-color: white;
  margin: 10px 10px 0px 30px;
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.content{
  width: 80%;
}
.pictures{
  width: 100%;
  margin-left: 20px;
}
.show_bakery_name h4{
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;
letter-spacing: 0.065em;

color: #000000;
}
#text{
  justify-content: space-between;
}
.hour_icon{
  text-align: center;
  background: rgba(255, 153, 121, 0.1);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 15px;
}
.picture{
  border-radius: 15px;
}
.show{
  font-family: Helvetica Neue;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #8C8C8C;
}
.show-tag{
  background: #fff5f2;
  opacity: 80%;
  border: 1px solid rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border-radius: 15px;
  margin-right:10px;

  .btn{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px 10px;
    color: #000000;
  }
}
.show-tag:hover{
  background: rgba(255, 153, 121, 0.8);
  font-weight: 450;
}


.selection {
  border: none;
  .btn {

  text-transform: uppercase;
  font-weight: 500;
  color: rgba(194, 31, 3, 0.959);
  font-family: 'Anton';
  font-size: 24px;
  }
}

.ranking{
  font-family: Anton;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.065em;
}
.description-tags{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.style-btn-form {
  font-style: normal;
  font-family: “anton”;
  background-color: transparent;
  border: 1px solid #4E2100;
  box-sizing: border-box;
  border-radius: 15px;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  text-decoration: none;
}
.style-btn-form:hover {
  background-color: rgba(223, 65, 2, 0.616);
  cursor: crosshair;
  color:black;
}
.div-btn-go{
  display: flex;
  justify-content: end;
}
.btn-go{
  margin: 0px;
}
.display-reviews{
  background: #fff5f2;
}
.display-reviews{
  margin-left: 10px;
  border-radius: 15px;
  padding: 20px;
  margin-top:10px;
}
.rating-review{
  margin-left: 50px;
  color: yellow;
}
.title-review{
  margin-left: 10px;
}
.content-review{
  margin-left: 10px;
}
.review-description{
      width: 100%;
    justify-content: space-between;
}
.show-reviews{
      display: flex;
    flex-direction: column;
}
.add-reviews{
  align-self: flex-end;
}
.average-rating{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  height: 200px;
  margin: 40px 10px 0px 30px;

  p {
    font-family: 'Anton';
    font-weight: 200;
    font-size: 24px;
    text-transform: uppercase;
  }
  .average{
       border: #000000;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: 0.045em;
  }
  .fas{
    color: yellow;

  }
}
.visitors{

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #FF7043;
}
.create-tag{
  margin: 10px 0px 20px;
}

.picture-bakery {
  margin: 10px 10px 0px 30px;
  img {
    height: 300px;
    border-radius: 15px;
  }

}


// menu
.menu-bakery {
  p {
    font-family: 'Anton';
  }

}
