.show-container{
  margin: 1rem;
}




.bakery-description{
  width: 93%;
  background-color: white;
  //margin: 10px 10px 0px 30px;
  margin-top: 10px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.97);
  border: 1px solid rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  //border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.content{
  width: 80%;
}

.pictures{
  width: 100%;
  margin-left: 20px;
}

.show_bakery_name h4{
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 48px;
letter-spacing: 0.065em;

color: #000000;
}

#text{
  justify-content: space-between;
}

.hour_icon {
  text-align: center;
  background: rgba(255, 153, 121, 0.1);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}

.open-closed {
  text-transform: uppercase;
  padding-bottom: 40px;
}


.picture {
  border-radius: 15px;
}

.show {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #8C8C8C;
}

.show-tag {
  background: #fff5f2;
  opacity: 80%;
  border: 1px solid rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  border-radius: 15px;
  margin-right:10px;

  .btn{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px 10px;
    color: #000000;
  }
}

.show-tag:hover{
  background: rgba(255, 153, 121, 0.8);
  font-weight: 450;
}


.selection {
  border: 3px solid rgba(224, 34, 1, 0.959);;

  .btn {
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.959);
  font-family: 'Anton';
  font-size: 24px;
  }
}

.ranking{
  font-family: Anton;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.065em;
}
.description-tags{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      margin-bottom: 30px;
      line-height: 2rem;
    }
}
.container-new-tag {
  margin-left: 30px
}


.style-btn-form {
  font-style: normal;
  font-family: “anton”;
  background-color: transparent;
  border: 1px solid #4E2100;
  box-sizing: border-box;
  border-radius: 15px;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  text-decoration: none;
}
.style-btn-form:hover {
  background-color: rgba(223, 65, 2, 0.616);
  cursor: crosshair;
  color:black;
}
.div-btn-go{
  display: flex;
  justify-content: end;
}
.btn-go{
  margin: 0px;
}
.display-reviews{
  background: #fff5f2;
}
.display-reviews{
  margin-left: 30px;
  margin-right: 30px;
 // border-radius: 15px;
  padding: 20px;
  margin-top:20px;
}
.rating-review{
  margin-left: 50px;
  color: rgba(255, 130, 47, 0.925);
}
.title-review{
  margin-left: 20px;
  font-family: 'Anton';
  letter-spacing: 0.10em;
  text-transform: uppercase;
}
.content-review{
  margin-left: 20px;
  font-family: 'helvetica neue';
  font-weight: 300;
}
.review-description{
      width: 100%;
    justify-content: space-between;
}
.show-reviews{
      display: flex;
    flex-direction: column;
}
.add-reviews{
  align-self: flex-end;
}
.average-rating{
  background-color: white;
  //border-radius: 15px;
  padding: 20px;
  height: 200px;
  margin: 30px 10px 0px 30px;

  p {
    font-family: 'Anton';
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
  }

  .locals {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .visitors {
    padding-top: 10px;
  }

  .average{
    border: #000000;
    font-family: 'anton';
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: 0.045em;

    p {
      margin-bottom: 0%;
    }
  }
  .fas {
    color: #ff8b41;

  }
}


.create-tag{
  margin: 10px 0px 20px;
}

.picture-bakery {
  margin: 10px 10px 0px 30px;
  img {
    height: 500px !important;
    // border-radius: 15px;
    width: 500px !important;
    object-fit: contain;
  }

  .active {
    width: 500px;
  }
}
.active, .btn-page:hover {
  background-color: transparent;
  width: 500px;
  color: white;
}

// menu

.products {
  display: flex;
  flex-direction: column;
  width: 100%;

  .menu-bakery {
    display: flex;
    flex-direction: row;
    float: left;
    width: 800px !important;
    padding-right: 0px !important;

    #me {
      text-transform: capitalize;
    }

    p {
      width: 100px;
    }
  }

  .must-try-bakery {
    display: flex;
    flex-direction: row;
    float: left;
    width: 800px !important;
    padding-right: 0px !important;

    #specialty-bakery {
      margin-left: 0px;
      .spe {
        width: 600px;
        padding-top: 15px;
        font-family: 'Helvetica Neue';
        font-weight: 300;
        color: #8C8C8C;
        font-size: 18px;
        text-transform: capitalize;
      }
    }
  }

  p {
    font-family: 'Anton';
    padding-top: 20px;

   // width: 200px;
    padding-right: 0px;
  }


}


.create-tag {

  .tag-form {

    .string {
      font-family: 'Helvetica';
      font-size: 14px;
      color: rgba(0, 0, 0, 0.411);
      font-weight: 300;
    }

    .form-control {
      width: 130px;
      margin-left: 14px;
      border:rgba(0, 0, 0, 0.904);
      background-color: #fff2ed;
      border-radius: 10px;
      box-shadow: none;
    }

    .form-group {
      margin-bottom: 10px;
    }

    .button_with_image_save {
    background: url(check.svg);
    height: 16px;
    border: none;
    margin-left: 130px;


}

    .button_with_image_save:hover {
      opacity: 0.5;
    }

  margin-bottom: 25px;
  padding: 5px;

  }

  .new-tag-btn {
    border: none;
    background: transparent;

    font-family: 'helvetica Neue';
    font-weight: 300;
    font-size: 15px;
    color: #777777;

  }
  .new-tag-btn:hover {
    color: #f6a67c
  }

  .tag-form {
    .new-tag-form {
      font-family: 'Helvetica';
    }
  }
}


.carousel-item .active .carousel-item-left {
  margin-right: 0px !important;
}
.active {
  width:0px;
}
.carousel .carousel-item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
    //transition: transform 10s ease-in-out!important;

    .carousel-item-left {
      margin-right: 0px !important;
    }
}
.carousel .carousel-item img {
    width: 100%; /*img width*/
    object-fit: contain;
    overflow: hidden;
    object-position: center;
}
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}


#carouselExampleControls {
  margin: 0 auto;
  max-width: 500px;
}


.div-btn-go {

$bg: #F3F8FA;
$white: #fff;
$black: #ff975b;
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}



.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 18px;
  font-family: "Anton";
  letter-spacing: 2px;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      //margin: 0;
       margin-right: 20px;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      margin-left: 45px;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
      padding-right: 10px;
    }
     .button-text:hover {
      text-decoration: none;
    }
  }
}
@supports (display: grid) {
  //body {
  //  display: grid;
  //grid-template-columns: repeat(4, 1fr);
  //grid-gap: 0.625rem;
 // grid-template-areas: “. main main .” “. main main .“;
 //}
  .div-btn-go {
   // grid-area: main;
  //  align-self: center;
    //justify-self: center;
    display:flex;
    align-items: flex-end;
    button {
      .lean-more {
        width: 13rem !important;
      }
    }
  }
}
.ranking {
  font-size: 18px;
}
