.form-title {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 3%;
  font-size: 42px;
}

label {
  font-family: "Anton", "sans-serif";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.055em;
  text-align: left;

  margin-left: 5%;
  display: block;

}

.form-to-add-a-bakery {
  margin: 5%;
  padding-left: 0;

  display:flex;
  flex-flow: column;
}

input {
  font-family: Helvetica Neue;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
  display:flex;

  flex-wrap: wrap;

}

.input-bakery {
  font-family: "Helvetica Neue";

  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 5%;

  height: 3.5rem;
  width: 50rem;
}

.description {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.input-bakery-description {
  font-family: "Helvetica Neue";

  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  margin-top: 1%;
  margin-bottom: 5%;
  margin-left: 30px;

  padding: 0;

  height: 6.5rem;
  width: 50rem;
}

.description-label {
  margin-left: 0;
  padding: 0 !important;
}

.input-bakery-hour {
  font-family: "Helvetica Neue";

  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  margin-top: 1%;
  align-items: center !important;
  width: 5rem;
  margin-left: 5%;
  padding: 2px;
  margin-bottom: 5%;

  text-align: center;
}

.align-items-center {
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;

}

.justify-content-between {
  // justify-content: start !important;
}


.input-bakery-pictures {
  font-family: "Helvetica Neue";

  margin-top: 1%;


  align-items: center !important;
  width: 50rem;
  margin-left: 5%;

  text-align: center;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

.pictures {
  position: relative;
}

.file-btn-label {
  display: inline-block;
  padding: 12px 18px;
  width: 8rem;
  height: 3.5rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #8ebf42;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}



.button-submit-form {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.style-btn-form {
  font-style: normal;
  font-family: "anton";

  background-color: transparent;
  border: 1px solid #4e2100;
  box-sizing: border-box;
  border-radius: 15px;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;

  text-decoration: none;

  margin-top: 5%;
  margin-left: 5%;
}


.style-btn-form:hover {
  background-color: rgba(223, 65, 2, 0.616);

  cursor: crosshair;
  color:black;
}
