.form-login {
  padding: 20px;
  margin-top: 50px;
  h2  {
    margin-bottom: 50px;
    text-align: center
  }
  .btn{
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  a:link {
  color: lightslategray;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.75
  }

    a {
  color: lightslategray;
  background-color: transparent;
  text-decoration: none;
  opacity: 0.75
  }

  label {
font-family: "Anton", "sans-serif";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    letter-spacing: 0.055em;
    text-align: left;
    margin-left: 5%;
    display: block;
  }

  .form-check-label {
  font-size: 13px;
  }

  .form-check {
  justify-content: start;
  display: flex;
  }
}

.form-control {
  border-radius: 15px;
  opacity: 0.75;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.form-group {
    margin-bottom: 50px
}

.form-check {
  margin-top: -40px
}

.form-text {
  opacity: 0.75
}

.form-actions {
  justify-content: center;
  display: flex;
}
