.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-close-button{
  font-size: large;
  background-color: white;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#map{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 80px 0px;
}
.map-show{
  align-self: center;
}
