.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-close-button{
  font-size: large;
  background-color: white;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 15px 0px;
}

.map-show{
  align-self: center;
  margin-top: 80px !important;
}
.mapbox-form-label{
  margin: 0px;
}
.mapbox-directions-instructions{
  height: 300px;
}
